body
{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
}
.alert
{
    padding: 10px;
    text-align: center;
    margin: 0px;
    border: none;
    border-radius: 0;
}

.alert-success
{
    background-color: green;
    color: white;
}

.alert-error
{
    background-color: red;
    color: white;
}

.alert-info
{
    background-color: blue;
    color: white;
}
