{% extends 'layout/base.html.twig' %}

{% block title %}New Pin{% endblock %}

{% block body %}

    <div class="row">
        <h1>Creer un Pin</h1>
        {{include("pins/_form.html.twig")}}
    </div>
{% endblock %}