{% extends 'base.html.twig' %}

{% block title %} create a Pin{% endblock %}

{% block body %}

    <a href="{{path('app_home')}}">Go back</a>
    <h1>{{ pin.getTitle() }}</h1>
    <p>{{ pin.getDescription() }}</p>


{% endblock %}