{% extends 'layout/base.html.twig' %}

{% block title %}Edit Pin ~{{ pin.id}}{% endblock %}

{% block body %}

    
    <div class="row mb-3">
        <div class="col-4 mx-auto">
            <h1>Modifier Pin# {{ pin.id }} </h1>

            {{include("pins/_form.html.twig",{'submitButtonText':'Update Pin'})}}

        </div>
    </div>

   
{% endblock %}