{% extends 'base.html.twig' %}

{% block title %}Find All Pins Here!{% endblock %}

{% block body %}
    <h1>All Pins</h1>

    {% for pin in pins %}
        <article>
            <h2>{{ pin->getTitle() }}</h2>
            <p>{{ pin->getDescription() }}</p>
        </article>
    {% endfor %}
{% endblock %}
